<div class="chat-container">
  <div class="contact-list">
    <h5 class="p-3">Contacts</h5>
    <div class="users-list">
      <%= render 'users_list', users: @users %>
    </div>
  </div>

  <div class="chat-area">
    <div class="chat-header">
      <h5><%= @receiver.full_name %></h5>
    </div>
    <div id="messages" class="messages">
      <% @messages.each do |message| %>
        <% klass = get_message_class(message, @sender, @receiver) %>
        <div class="message <%= klass %>" data-id="<%= message.id %>">
          <% if klass == "sent" %>
            <span class="message-time">
              <%= message.created_at.strftime("%I:%M %p") %>
            </span>
          <% end %>
          <p><%= message.message %></p>
          <% if klass == "received" %>
            <span class="message-time">
              <%= message.created_at.strftime("%I:%M %p") %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="input-group">
      <input type="text" class="form-control" id="message_input" placeholder="Type a message..." aria-label="User's message">
      <div class="input-group-append">
        <button class="btn btn-primary" id="send_message" type="button"><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    const senderId = <%= @sender.id %>
    const receiverId = <%= @receiver.id %>
    const chatChannel = window.createChatChannel(senderId, receiverId)

    const input = document.getElementById("message_input");
    function sendMessage() {
      const message = input.value;
      if (message) {
        const userElement = document.querySelector(`[data-user-id="${receiverId}"]`);
        const childElement = userElement.children[0];
        childElement.classList.remove("unread-message");
        childElement.classList.add("active-user");
        chatChannel.speak(message);
        input.value = ""; 
      }
    }

    document.getElementById("send_message").addEventListener("click", sendMessage);

    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        sendMessage();  
      }
    });

    window.addEventListener("beforeunload", () => {
      if (chatChannel) chatChannel.unsubscribe();
    });

  });
</script>
