<!DOCTYPE html>
<html>
  <head>
    <title>RorInductionTraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="current-user-id" content="<%= current_user&.id %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="">
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash_message" %>
      <%= yield %>
    </div>
  </body>
</html>
